<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    public static void CreateTimer(Action function, int interval) {
        var Timer = new System.Timers.Timer();
        Timer.Elapsed += new System.Timers.ElapsedEventHandler((source, e) => {
            function();
        });
        Timer.Interval = interval;
        Timer.Enabled = true;
    }
}